.headers {
  width: 732px;
  height: 40px;
  top: 146px;
  left: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 58.09px;
  letter-spacing: 0.04em;
  text-align: left;

}